/*
font-family: 'Overlock', cursive;
font-family: 'Tauri', sans-serif;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Port Lligat Slab', serif;
font-family: 'Exo', sans-serif;
font-family: 'Inconsolata', ;
font-family: 'Open Sans', sans-serif;
font-family: 'Francois One', sans-serif;
*/

html {
	font-family: 'Patrick Hand SC', sans-serif;
	font-size: 16px;
	background: 
		linear-gradient(
			rgba(99, 186, 221, 0.35),
			rgba(99, 186, 221, 0.35)
		),
		url('light_grey/light_grey.png');
}

.ui.header .sub.header {
	font-size: 1.4rem;
}

h2.ui.header {
	font-size: 2.25rem;	
}

h2 .title {
	font-family: 'Francois One', sans-serif;
	font-weight: 300;
	color: white;
	text-shadow: 1px 1px black;
}

.CodeMirror {
	font-family: 'Inconsolata';
	font-size: 15px;
	border: 1px solid #eee;
	border-radius: 3px;
}

#repl {
	font-family: 'Inconsolata';
	font-size: 17px;
	line-height: 1.5;
	background: #fff;
}